/* CONTACT */
.contact__button {
    background-color: var(--color-highlight);
    border: 1px var(--color-stroke) solid;
    border-radius: 5px;
    color: var(--color-stroke);
}

.contact__link {
    position: relative;
    color: var(--color-stroke);
    display: block;
    padding: 1rem 1rem;
    font-size: 1.3rem;
    transition: color 0.3s;
}

.contact__link:hover {
    color: var(--color-main);
}