/* CONTACT */
.contact__button {
    background-color: var(--color-highlight);
    border: 1px var(--color-stroke) solid;
    border-radius: 5px;
    color: var(--color-stroke);
    max-width: fit-content;
    transition: background-color 0.3s;
}
.contact__button:hover {
    background-color: var(--color-main);
  }

.contact__link {
    display: flex;
    align-items: center;
    column-gap: .3rem;
    color: var(--color-stroke);
    padding: 0.3rem 1rem;
}