/* HERO */
.hero__content {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 5rem;
}

.hero__salute>span {
  display: flex;
  font-size: 2.5rem;
  color: var(--color-headline);
}

.hero__specialty{
  color: var(--body-color-alt);
}

.hero__perfil {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  column-gap: 2rem;
}

.hero__figure {
  width: 250px;
  border: 1px solid var(--color-stroke);
  border-radius: 50%;
}

.hero__image {
  position: relative;
  border-radius: 50%;
  z-index: 10;
  opacity: 80%;
}

.hero__image:hover {
  opacity: 100%;
}

.hero__social {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  /* position: absolute; */
  height: max-content;
  /* left: -4rem; */
  /* top: 0;
  bottom: 0;
  margin: auto 0;
  display: grid; */
  row-gap: 1rem;
}

.hero__social-link {
  padding: 0 0.3rem;
  background-color: var(--color-highlight);
  border: 1px var(--color-stroke) solid;
  border-radius: 5px;
  color: var(--color-stroke);
  place-items: center;
  transition: background-color 0.3s;
}

.hero__social-link:hover {
  background-color: var(--color-main);
}

.hero__info>h3 {
  margin-top: 0.6rem;
}

.hero__description {
  margin-top: 0.6rem;
  margin-bottom: 3rem;
}

.hero__description>b {
  color: var(--color-headline);
}
