/* FOR LARGE DEVICES */

.container {
  margin-inline: auto;
}

.nav__close,
.nav__toggle {
  display: none;
}

.nav__list {
  flex-direction: row;
}

.nav__link {
  font-size: 1rem;
}
.header__content {
  height: calc(var(--header-height) + 2rem);
  column-gap: 4rem;
}

.hero__salute {
  display: flex;
  align-items: baseline;
  column-gap: 0.5rem;
  font-size: 1.7rem;
}